[submodule "Midnight/vendor/spdlog"]
	path = Midnight/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Midnight/vendor/GLFW"]
	path = Midnight/vendor/GLFW
	url = https://github.com/TheCherno/glfw
